tbody tr, thead th {
  cursor: pointer;
}

#createForm, #detailForm {
  margin: 100px 700px 0px 100px;
}

#header {
  margin: 100px;
}

#header h1 {
  text-align: center;
}

#overview-table {
  margin: 50px;
}

.form-group {
  margin-top: 50px;
}

div.row {
  margin-top: 50px;
  margin-bottom: 100px;
}

#button-panel {
  display: flex;
  justify-content: flex-end;
  margin: 70px 700px 100px 100px;
  
}

#button-panel button {
  margin-left: 30px;
}

.container {
  width: 100%;
}

.btn {
  margin-bottom: 100px;
  margin-left: 30px;
  margin-top: 50px;
}
